:host{
  background: #5f5f5f;
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  padding: 14px 0;
  border-radius: 0 0 7px 7px;
}
div{
  display: table-cell;
  width: 50%;
  text-align: left;
  padding: 5px;
  border: 0px solid #ccc;
}
p{
  font-size: 10px;
  text-align: right;
  padding: 0 1em;
}
label{
  cursor: pointer;
}
