:host{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: url('../../assets/imgs/Apple-Space-Wallpapers-HD-For-Mac.jpg')
}
.musicbox{
  width: 60%;
  height: 60%;
  margin: 0 auto;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  border: 1px solid #333;
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}
